@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

	body {
		background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
	}

	main section {
		width: 80vw;
		height: 280px;
	}

	div#imagem {
		float: left;
		width: 30%;
		height: 100%;
		border-radius: 20px 0px 0px 20px;
	}

	div#formulario {
		float: right;
		width: 70%;
		height: 100%;
		border-radius: 0px 20px 20px 0px;
	}

	div#formulario > p {
		display: block;
		width: 97%;
		font-size: 13px;
	}

	div#user {
		width: 97%;	
	} 

	div#chave {
		width: 97%;
	}
	
	input#iemail {
		width: 90%;
		font-size: 16px;
	}	
	
	input#isenha {
		width: 90%;
		font-size: 16px;
	}

	input#entrada {
		width: 97%;
		font-size: 16px;
	}

	input#esqueci {
		width: 97%;
		font-size: 16px;
	}
	
}

@media screen and (min-width: 992px) {

	body {
		background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
	}

	main section {
		width: 950px;
		height: 350px;
	}

	div#imagem {
		float: right;
		width: 50%;
		height: 100%;
		border-radius: 0px 20px 20px 0px;
	}

	div#formulario {
		float: left;
		width: 50%;
		height: 100%;
		border-radius: 20px 0px 0px 20px;
	}

	h1 {
		font-size: 32px;
	}

	div#formulario > p {
		display: block;
		width: 95%;
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 20px;	
	}

	div#user {
		width: 95%;	
	} 

	div#chave {
		width: 95%;
	}

	input#iemail {
		width: 89%;
		font-size: 16px;
	}	
	
	input#isenha {
		width: 89%;
		font-size: 16px;
	}

	input#entrada {
		width: 95%;
		font-size: 16px;
	}

	input#esqueci {
		width: 95%;
		font-size: 16px;
	}

}