@charset "UTF-8";

/*
	Paleta de Cores
	Verde:  #49a09d
	Lilás:  #5f2c82
*/

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	background-color: #5f2c82;
	height: 100vh;
	width: 100vw;
}

main {
	position: relative;
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #5f2c82;
}

main {
	height: 100vh;
	position: relative;
}

section#login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;

	background-color: white;
	height: 515px;
	width: 250px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

	transition: width 0.3s, height 0.3s;
	transition-timing-function: ease;
}

/* (Meu código)
main section {
	width: 250px;
	height: 515px;
	margin: auto;
	border-radius: 20px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
*/

section#login > div#imagem {
	display: block;
	background: #5f2c82 url(../imagens/abstrata.jpg);
	background-size: cover;
	background-position: left center;
	height: 200px;
}

/* (Meu código)
div#imagem {
	width: 100%;
	height: 40%;
	background: url("../imagens/abstrata.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	border-radius: 20px 20px 0px 0px;
}
*/

section#login > div#formulario {
	display: block;
	padding: 10px;
}

/*
div#formulario {
	width: 100%;
	height: 60%;
	background-color: white;
	border-radius: 0px 0px 20px 20px;
}
*/

div#formulario > h1 {
	text-align: center;
	margin-bottom: 10px;
}

/*
h1 {
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
}
*/

div#formulario > p {
	font-size: 0.8em;
}

/*
div#formulario > p {
	display: block;
	width: 90%;
	margin: auto;
	font-size: 12px;
	text-align: justify;
	line-height: 16px;
	padding-bottom: 5px;
}
*/

form > div.campo {
	display: block;
	background-color: #5f2c82;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin: 5px 0px;
}

div.campo > label {
	display: none;
}

/*
div#user {
	background-color: #5f2c82;
	width: 90%;
	height: 40px;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 7px;
}

div#chave {
	background-color: #5f2c82;
	width: 90%;
	height: 40px;
	margin: auto;
	margin-bottom: 5px;
	border-radius: 7px;
}

input#iemail {
	float: right;
	width: 80%;
	height: 35px;
	margin-top: 2px;
	margin-right: 2px;
	border: 0px;
	border-radius: 7px;
	padding-left: 5px;
	background-color: #90dad7;

}	

input#isenha {
	float: right;
	width: 80%;
	height: 35px;
	margin-top: 2px;
	margin-right: 2px;	
	border: 0px;
	border-radius: 7px;
	padding-left: 5px;
	background-color: #90dad7;
}

.material-symbols-outlined {
  	font-variation-settings:
  		'FILL' 1,
  		'wght' 700,
  		'GRAD' 200,
  		'opsz' 48;
  	color: white;
	margin-top: 8px; 
	margin-left: 10px; 
}
*/

form > input[type=submit] {
	display: block;
	font-size: 1em;
	width: 100%;
	height: 40px;
	background-color: #49a09d;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/*
input#entrada {
	display: block;
	background-color: #49a09d;
	width: 90%;
	height: 40px;
	margin: auto;
	margin-bottom: 5px;
	border: 0px;
	border-radius: 7px;
	color: white;
	cursor: pointer;
}
*/

form > a.botao {
	display: block;
	text-align: center;
	font-size: 1em;
	width: 100%;
	height: 40px;
	padding-top: 5px;
	margin-top: 7px;
	background-color: white;
	color: #49a09d;
	border: 1px solid #49a09d;
	border-radius: 5px;
	text-decoration: none;
}

/*
input#esqueci {
	display: block;
	width: 90%;
	height: 40px;
	margin: auto;
	margin-bottom: 5px;
	border: 1.5px solid #49a09d;
	border-radius: 7px;
	color: #49a09d;
	cursor: pointer;
}
*/

form > input[type=submit]:hover {
	background-color: #2b6361;
}

/*
#entrada:hover {
	background-color: #246e6d;
}
*/
form > a.botao:hover {
	background-color: #66e0dc;
}

/*
#esqueci:hover {
	background-color:#90dad7;
}
*/

form > a.botao > span {
	font-size: 1em;
}